:root {
    --White: hsl(0, 0%, 100%);
    --lightPink: hsl(275, 100%, 97%);
    --grayishPurple: hsl(292, 16%, 49%);
    --darkPurple:  hsl(292, 42%, 14%);
    --workSans: 'Work Sans', sans-serif;
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: var(--workSans);
    background-color: var(--lightPink);
    position: relative;
    line-height: 1.6;
}

.container  {
    background-image: url("./assets/images/background-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

hr {
    background-color: var(--lightPink);
    margin-top: .7rem;
    opacity: 0.3;
}

.wrapper {
    width: 35rem;
    padding: 1.5rem;
    left: 30rem;
    border-radius: 10px;
    transition: height 0.5s ease-in 1ms;
}

main  { 
    background-color: #fff;
    border-radius: 10px;
    padding: inherit;
    width: inherit;
    overflow: hidden;
    margin-top: 5rem;
    transition: height 0.5s ease-in 1ms;
    overflow: hidden;
}

#headerpara {
    font-size: 2.5rem;
    font-weight: 700;
    margin : -.6rem 1.5rem;
    
}

#header > img{
    padding-left: 2rem;
}

div#header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 10rem;
    margin-top: 1rem;
}

.Div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    padding: 1rem .5rem;
    height: fit-content;
    transition: height 0.5s ease-in;

}

.title {
    display: flex;;
    justify-content: space-between;
}

.Div div  img {
    cursor: pointer;
}

.title p {
    font-weight: 700;
    color: var(--darkPurple);
    cursor: pointer;
    /* width: 21.875rem; */
}

.para {
    color: var(--grayishPurple);
    margin-top: 1.2rem;
    transition: height 0.5s ease-in 1s;
    overflow: hidden;
    display: none;
    font-size: .9rem;
}

.title{
    position: relative;
    width: 90%;

}
.title::after{
    content:  url(./assets/images/icon-plus.svg);
    position: absolute;
    right: -40px; 
}

.active::after{
    content: url(./assets/images/icon-minus.svg);
    right: -40px; 
    
}

.active, .question:hover {
    content: "";
}

@media (max-width: 768px){
    .container {
        background-image: url(./assets/images/background-pattern-mobile.svg);
    }
    
    .wrapper {
        width: 26rem;
    }

    /* .title  p{
        width: 14rem;
    } */

    .title {
        border: 2px solid red;
        width: 14rem;
    }

    .title::after,
    .active::after {
        right: -7.8125rem;
    }

    .para {
        font-size: 1rem;
        width: 94%
    }
}

